{% block title %} {% endblock %} 
{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% static '/css/search.css' %}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
        <meta name="HandheldFriendly" content="true">
{% endblock %}

{% block content %}

{% include 'header3.html' %}

<div class="container">
        <div class="side-menu side-menu2">
                <div class="side-title">
                        {% if count != 0 %}
                               
                                <div class="p2">
                                        <p class="font">
                                                {{ count }} annonce(s) au total
                                        </p>
                                </div>
                        {% else %}
                                <div class="nothing"> Aucun resultat </div>
                        {% endif %}
                </div>    
        </div>
        <div class="search search1">
                <form method="get" action="{% url "recherche" %}" class="form">
                  <input type="search" name="recherche" placeholder="Que recherchez-vous ?" width="100%" class='sx' />
                  <div class="icon-search"><button type="submit" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z" />
                    </svg></button></div>
                </form>
        </div>
</div>

        <div class="main">

                <div class="products">

                       
                                {% for article in produits %}
                                <div class="card">
                                        <img src="{{ article.image }}"/>
                                        <h1>{{ article.name }}</h1>
                                        <p class="tit">{{ article.price }} Fcfa</p>
                                        <p><button><a href='{% url "client-article" pk=article.pk  %}'>Voir</a></button></p>
                
                                </div>
                                {% endfor %}
                        
                </div>


        </div>


{% endblock %}